<%= form_with(model: @task, local: true) do |form| %>
  <%if @task.errors.any? %>
    <h2><%= @task.errors.count %>件のエラーがあります</h2>
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :タスク %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :内容 %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :終了期限 %>
    <%= form.date_field :expiration_date %>
  </div>

  <div>
    <%= form.label :ステータス %>
    <%= form.select :status,options_for_select_from_enum(Task, :status), prompt: "ステータスを選択してください" %>
  </div>

  <div>
    <%= form.label :優先度%>
    <%= form.select :priority,options_for_select_from_enum(Task, :priority), prompt: "優先度を選択してください" %>
  </div>

  <%= form.submit "登録" %>
<% end %>

<%= link_to "タスク一覧に戻る", tasks_path %>