<%= form_with(model: @task, local: true) do |form| %>
  <%if @task.errors.any? %>
    <h2><%= @task.errors.count %>件のエラーがあります</h2>
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="card w-50 mx-auto" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= form.label :タスク名 %>
        <%= form.text_field :name %>
      </li>
      <li class="list-group-item">
        <%= form.label :内容 %>
        <%= form.text_field :description %>
      </li>
      <li class="list-group-item">
        <%= form.label :終了期限 %>
        <%= form.date_field :expiration_date %>
      </li>
      <li class="list-group-item">
        <%= form.label :ステータス %>
        <%= form.select :status,options_for_select_from_enum(Task, :status), prompt: "選択" %>
      </li>
      <li class="list-group-item">
        <%= form.label :優先度%>
        <%= form.select :priority,options_for_select_from_enum(Task, :priority), prompt: "選択" %>
      </li>
      <li class="list-group-item">
        <% Label.all.each do |label| %>
          <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
          <%= label.name %>
        <% end %>
      </li>
      <li class="list-group-item">
        <%= form.submit "登録", class: "btn btn-primary" %>
      </li>
    </ul>
  </div>
<% end %>

<%= link_to "タスク一覧に戻る", tasks_path, class: "btn btn-light" %>