<%= notice %>
<h1>タスク一覧</h1>
<%= link_to "終了期限でソート", tasks_path(sort_expired: "true") %>
<%= link_to "優先順位でソート", tasks_path(sort_priority: "true") %>

<%= form_with url: tasks_path, method: :get, local: true do |form| %>
  <%= form.text_field :name, placeholder:"タイトルで検索" %>
  <%= form.submit '検索' %>
  <%= form.select :status,options_for_select_from_enum(Task, :status), prompt: "ステータスで検索" %>
  <%= form.submit '検索', id: "search_status" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>タスク名</th>
      <th>タスク詳細<th>
      <th>終了期限</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task_name"><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.expiration_date %></td>
        <td><%= task.status %></td>
        <td><%= link_to '詳細', task_path(task.id) %></td>
        <td><%= link_to '編集', edit_task_path(task.id) %></td>
        <td><%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
<br>
<%= link_to '新規タスクを登録', new_task_path%>
