<h1>ユーザー一覧</h1>

<%= link_to '新しくユーザーを作成する', new_admin_user_path, class: "btn btn-secondary" %>

<p><%= @users.count %>件のユーザーがいます</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>ユーザーemail</th>
      <th>タスク数</h1>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.tasks.count %></td>
        <td>
          <%= link_to '詳細', user_path(user.id), class: "btn btn-outline-primary" %>
        </td>
        <td>
          <%= link_to '編集', users_path(user.id), class: "btn btn-outline-success" %>
        </td>
        <td>
          <%= link_to '削除', user_path(user.id), method: :delete, data: { confirm: '削除してよろしいですか？' }, class: "btn btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>